body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 8px 12px;
}

.navbar__logo {
    font-size: 24px;
    padding: 8px 12px;
}

.navbar__logo:hover {
    cursor: pointer;
}

.navbar__logo i {
    color: red;
}

.navbar__menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li:hover {
    background-color: coral;
    border-radius: 4px;
}

.navbar__icons {
    color: white;
    list-style: none;
    display: flex;
    padding-left: 0;
}

.navbar__icons li {
    padding: 8px 16px;
    font-size: 20px;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}

.navbar__toggleBtn:hover {
    color: coral;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding : 8px 24px;
    }
    .navbar__menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar__menu li {
        width: 100%;
        text-align: center;
    }

    .navbar__icons {
        display: none;
        justify-content: center;
        width: 100%;
    }

    .navbar__toggleBtn {
        display: block;
    }

    .navbar__menu.active,
    .navbar__icons.active {
        display: flex;
    }

}

